<ul>
    <li><a href="{{ path('planette') }}">Voir les planetes</a></li>
    <li><a href="{{ path('vehicule-list') }}">Voir les véhicules</a></li>
    <li><a href="{{ path('resident-list') }}">Voir les résidents</a></li>

</ul>